header {
    height: 80px;
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 1px 3px 6px #00828880;
}

.nav {
    position: relative;
    max-width: 1440px;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    .nav {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        padding: 0 16px;
        height: 100%;
    }
}

.nav__logo {
    max-height: 100px;
}

@media only screen and (max-width: 600px) {
    header {
        height: 60px;
    }
    .nav__logo {
        max-height: 60px;
        max-width: 260px;
    }
}


.nav__items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    align-items: center;
}

@media only screen and (max-width: 1080px) {
    .nav__items {
        display: none;
    }
    .nav__items.open {
        gap: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 42px 58px;
        width: inherit;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: white;
        height: 500px;
        box-shadow: 0px 632px 290px 50px rgba(0, 0, 0, 0.5);
        border-top: 1px solid #008288;
    }
}

@media only screen and (max-width: 600px) {
    .nav__items.open {
        top: 60px;
    }
}

.nav__item {
    font-size: 16px;
    color: #008288;
    text-decoration: none;
    font-weight: 700;
}

@media only screen and (max-width: 1080px) {
    .nav__item {
        display: none;
        font-size: 22px;
        border-bottom: 1px solid #008288;
        padding: 16px 0;
        width: 100%;
    }
    .nav__item:nth-last-child(2) {
        border-bottom: none;
    }
    .nav__items.open .nav__item {
        display: block;
    }
}

.nav__language {
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #AF7600;
    padding: 18px;
    border-radius: 27px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    justify-self: flex-end;
    margin-left: 64px;
}

@media only screen and (max-width: 1080px) {
    .nav__language {
        display: flex;
        margin-top: 24px;
        margin-left: 0;
    }
}

.nav__mobile {
    display: none;
    width: 36px;
    border-radius: 5px;
    height: 4px;
    background-color: #008288;
    margin-left: auto;
}

@media only screen and (max-width: 1080px) {
    .nav__mobile {
        display: block;
        position: relative;
    }
    .nav__mobile::before {
        display: block;
        content: '';
        position: absolute;
        width: 36px;
        border-radius: 5px;
        height: 4px;
        background-color: #008288;
        top: -10px;
    }
    .nav__mobile::after {
        display: block;
        content: '';
        position: absolute;
        width: 36px;
        border-radius: 5px;
        height: 4px;
        background-color: #008288;
        top: 10px;
    }
    .nav__mobile.open {
        background-color: transparent;
    }
    .nav__mobile.open::before {
        top: 0;
        transform: rotate(45deg);
    }
    .nav__mobile.open::after {
        top: 0;
        transform: rotate(-45deg);
    }
}

.nav__language img {
    max-width: 18px;
    max-height: 18px;
}

.footer {
    position: inherit;
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px -3px 6px #00828880;
}

.footer__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.footer__sub-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1080px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        padding: 42px 16px;
    }
}

.footer__logo img {
    max-height: 100px;
}

@media only screen and (max-width: 600px) {
    .footer__logo img {
        max-width: 340px;
    }
    .footer__sub-container {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }
    .footer__sitemap-link {
        text-align: center;
    }
    .footer__social-icons-subcontainer {
        justify-content: center;
    }
}

.footer__sitemap {
    display: flex;
    flex-direction: column;
}

.footer__sitemap-link {
    font-size: 19px;
    font-weight: 500;
    color: #6d7986;
    margin: 0;
    text-decoration: none;
}

.footer__subtitle.subtitle {
    color: #008288;
    margin-bottom: 24px;
}

.footer__social-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer__social-icons-subcontainer {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 24px;
}

.footer__social-insta {
    max-width: 42px;
    max-height: 42px;
}

.footer__social-linked {
    max-width: 42px;
    max-height: 42px;
}

.footer__social-research {
    max-width: 42px;
    max-height: 42px;
}

.footer__social-chu {
    max-height: 68px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

section {
    margin: 0;
}

h1 {
    font-size: 64px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 24px;
    text-align: center;
}

@media only screen and (max-width: 1080px) {
    h1 {
        font-size: 54px;
        color: white;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 0 24px;
    }
}

h2 {
    font-size: 56px;
    color: #008288;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 24px;
}

@media only screen and (max-width: 1080px) {
    h2 {
        font-size: 38px;
    }
}

p {
    margin: 0;
}

.paragraph {
    max-width: 570px;
    font-size: 19px;
    font-weight: 500;
    color: #6d7986;
    margin: 0;
    line-height: 1.2;
}
@media only screen and (max-width: 800px) {
    .paragraph {
        max-width: 100%;
    }
}

.subtitle {
    color: #AF7600;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 8px;
}

.cta {
    display: block;
    background: #008288;
    color: white;
    font-size: 21px;
    font-weight: 700;
    padding: 16px 24px;
    width: fit-content;
    margin-top: 48px;
    border-radius: 32px;
    text-decoration: none;
    text-align: center;
}

.hero {
    background-image: url("images/analysis-2030265_1920.jpg");
    background-size: cover;
    background-position: bottom;
    max-height: 600px;
    height: 100%;
    background-position: left bottom;
    display: flex;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 204px 0 124px;
    margin: 0 auto;
}

@media only screen and (max-width: 1080px) {
    .hero__container {
        padding: 104px 80px;
    }
}

@media only screen and (max-width: 600px) {
    .hero__container {
        padding: 144px 16px 60px;
    }
}

.hero__paragraph {
    font-size: 28px;
    color: white;
    font-weight: 500;
    text-align: center;
    max-width: 800px;
    text-shadow: 0 0 black;
}
@media only screen and (max-width: 1080px) {
    .hero__paragraph {
        font-size: 26px;
    }
}

.column {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.column__container {
    max-width: 1440px;
    margin: 0 auto;
    width: auto;
    display: flex;
    padding: 80px;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
}

@media only screen and (max-width: 1080px) {
    .column__container {
        padding: 80px 40px;
        justify-content: space-between;
        gap: 48px;
    }
}
@media only screen and (max-width: 800px) {
    .column__container {
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px) {
    .column__container {
        padding: 80px 16px;
    }
}

.column__text-container, .column__image-container {
    max-width: 47%;
    width: auto;
}
@media only screen and (max-width: 800px) {
    .column__text-container, .column__image-container {
        max-width: 100%;
        width: 100%;
    }
}



.column__image-container img {
    width: 100%;
    max-width: 430px;
    max-height: 430px;
    box-shadow: 1px 3px 6px #00828880;
}

.column-reverse .column__container {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 800px) {
    .column-reverse .column__container {
        flex-direction: column;
    }
}

.column__bullet-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.column__bullet {
    display: flex;
    align-items: center;
    gap: 16px;
}

.column__bullet-icon {
    max-height: 48px;
    max-width: 48px;
}

.column__bullet-paragraph {
    font-size: 19px;
    font-weight: 500;
    color: #6d7986;
    margin: 0;
    line-height: 1.2;
    max-width: 500px;
}

.banner {
    background-color: #008288;
    width: 100%;
}

.banner-bis {
    background-image: url('images/heart-7751749_1920.jpg');
    background-size: cover;
    background-position-y: -320px;
}

@media only screen and (max-width: 1300px) {
    .banner-bis {
        background-position-y: -244px;
    }
}

@media only screen and (max-width: 1090px) {
    .banner-bis {
        background-position-y: 0;
    }
}

.banner__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .banner__container {
        padding: 80px 40px;
    }
}

.banner-bis .banner__container {
    padding: 124px 80px;
}

.banner__title {
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    text-align: center;
}

.banner__paragraph {
    color: white;
    font-weight: 500;
    text-align: center;
    max-width: 864px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.banner__quote {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
    line-height: 1.2;
    max-width: 864px;
    font-style: italic;
}

.banner__author-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.banner__author-name {
    font-size: 19px;
    font-weight: 600;
    color: white;
    line-height: 1.2;
}

.banner__author-picture {
    max-width: 56px;
    max-height: 56px;
    border-radius: 100%;
}



.wip {
    height: 100vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}